{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["standard", "import", "promise", "prettier", "react"],
  "env": {
    "jest": true,
    "browser": true
  },
  "settings": {},
  "rules": {
    "comma-dangle": 0,
    "import/default": 2,
    "import/export": 2,
    "import/exports-last": 2,
    "import/first": 2,
    "import/named": 2,
    "import/namespace": 2,
    "import/newline-after-import": 2,
    "import/no-absolute-path": 2,
    "import/no-duplicates": 2,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*/*.spec.js"],
        "peerDependencies": true
      }
    ],
    "import/no-self-import": 2,
    "import/no-unresolved": 2,
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external"]]
      }
    ],
    "indent": 0,
    "jsx-quotes": 0,
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "semi": 1,
    "space-before-function-paren": 0,
    "standard/computed-property-even-spacing": 0,
    "generator-star-spacing": ["error", { "before": false, "after": true }]
  },
  "globals": {
    "driver": true,
    "By": true,
    "until": true,
    "after": true,
    "webpackIsomorphicTools": false
  }
}
